<div class="card">
  <div class="card-header">
    {{pageTitle}}
  </div>
  <div class="card-body">
    <div class="container-fluid">
      <div class="text-center">
        <img src="./assets/images/shop.jpg"
             class="img-responsive center-block"
             style="max-height:500px;padding-bottom:50px" />
      </div>

      <div class="text-center">Developed by:</div>
      <div class="text-center">
        <h3>Kajal Udani</h3>
      </div>

      <div class="text-center">
        <a href="https://www.linkedin.com/feed/?trk=nav_logo">www.linkedin.com</a>
      </div>
    </div>
  </div>
</div>